{% set accessor = accessor(model) %}
{% block box %}
<div class="js-item box box-primary collapsed-box box-solid" data-id="{{ model.id }}" data-sort="{{ model.js_sort }}">
{% endblock %}
    <div class="box-header with-border">
        {% block header %}
            {% block header_title %}
                <div class="row">
                    <div class="col-lg-10">
                        <h3 class="box-title">
                            {#{{ adminlte__box_toggler(model.id)|raw }}#}
                            {{ adminlte__box_toggler(model.id, '[#'~model.id~'] '~model)|raw }}
                        </h3>
                    </div>
                </div>
            {% endblock %}
            {% block header_tools %}
                <div class="box-tools pull-right">
                    <span class="label label-danger ng-binding">{{ model.order|int }}</span>
                    {{ accessor.actionRelBelongsToMany()|raw }}
                    {{ accessor.actionRelHasMany()|raw }}
                    {{ accessor.actionThumb()|raw }}
                    {{ accessor.actionThumbs()|raw }}
                    {{ accessor.actionAttaches()|raw }}
                    <button class="js-crud-edit btn btn-box-tool"
                            title="Редактирование"><i class="fa fa-pencil"></i></button>
                    <button class="js-crud-delete btn btn-box-tool"
                            title="Удаление"><i class="fa fa-times"></i></button>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
    <div class="box-body">
        {% block body %}
            {#{{ dump(model.toArray()) }}#}
        {% endblock %}
    </div>
    <div class="box-footer">
        {% block footer %}
            <div class="pull-right">
                <strong>Последнее изменение:</strong> {{ model.updated_at }}
            </div>
            <div title="{{ model.created_at }}"><strong>Дата создания:</strong>{{ date_diff_for_humans(model.created_at) }}</div>
        {% endblock %}
    </div>
    {#{{ adminlte__box_overlay(model.id)|raw }}#}
</div>


