{% for row in range(1,5)|batch(2, '') %}
    <div class="row">
        {% for column in row %}
            <div class="col-lg-6">
                <div class="box box-info">
                    <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="box-title">Статьи этого блога</h3>
                        <div class="box-tools pull-right">
                            <button title="Удаление" class="btn btn-box-tool"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                            {% for i in range(1, random(5,10)) %}
                                <tr>
                                    <td style="width: 10px">#{{ i }}</td>
                                    <td>
                                        <i class="fa fa-file"></i> Статья под номером #{{ i }}
                                    </td>
                                    <td style="width: 40px"><i class="fa fa-pencil"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
