body {
	font-family    : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight    : 400;
	padding-bottom : 0 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
	max-width : 100%;
}
.va-block_wrapper {
	width       : 100%;
	margin      : auto;
	padding-top : 50px;
	display     : table;
	height      : 100vh;
}
.va-block_wrapper .va-block {
	display        : table-cell;
	vertical-align : middle;
}
.label-block {
	display     : block;
	line-height : 1.5em;
}
.table-equal {
	table-layout : fixed;
}
.text-opacity {
	opacity : .5;
}
.text-sm {
	font-size : 0.7em;
}
.text-xs {
	font-size : 0.5em;
}
.text-lg {
	font-size : 1.5em;
}
.text-md {
	font-size : 1.3em;
}
.text-x2 {
	font-size : 2em;
}
.text-x3 {
	font-size : 3em;
}
.text-x4 {
	font-size : 4em;
}
.text-x5 {
	font-size : 5em;
}
.t-1 {
	position : relative;
	top      : -1px;
}
.t-2 {
	position : relative;
	top      : -2px;
}
.t-3 {
	position : relative;
	top      : -3px;
}
.t-4 {
	position : relative;
	top      : -4px;
}
.t-5 {
	position : relative;
	top      : -5px;
}
.t-10 {
	position : relative;
	top      : -10px;
}
.pl5 {
	padding-left : 5px !important;
}
.pl10 {
	padding-left : 10px !important;
}
.pl15 {
	padding-left : 15px !important;
}
.pl20 {
	padding-left : 20px !important;
}
.pr5 {
	padding-right : 5px !important;
}
.pr10 {
	padding-right : 10px !important;
}
.pr15 {
	padding-right : 15px !important;
}
.pr20 {
	padding-right : 20px !important;
}
.ml5 {
	margin-left : 5px !important;
}
.ml10 {
	margin-left : 10px !important;
}
.ml15 {
	margin-left : 15px !important;
}
.ml20 {
	margin-left : 20px !important;
}
.mr5 {
	margin-right : 5px !important;
}
.mr10 {
	margin-right : 10px !important;
}
.mr15 {
	margin-right : 15px !important;
}
.mr20 {
	margin-right : 20px !important;
}
.label-pink {
	background-color : #f13775;
}
.pointer {
	cursor : pointer;
}
.ajax {
	border-bottom   : 1px dashed;
	cursor          : pointer;
	text-decoration : none;
	color           : #337ab7;
}
.box-primary .box-header .ajax {
	color : #fff;
}
.ajax:hover {
	border-bottom : 1px transparent solid;
	opacity       : .9;
}
.col-lg-0 {
	width         : 0.1%;
	float         : left;
	min-height    : 1px;
	padding-left  : 15px;
	padding-right : 15px;
	position      : relative;
}
.text-strike {
	text-decoration : line-through;
}
.text-italic {
	font-style : italic;
}
.text-strong {
	font-weight : bold;
}
.p0 {
	padding : 0;
}
.m0 {
	margin : 0;
}
.pt0 {
	padding-top : 0;
}
.pt5 {
	padding-top : 5px;
}
.pt10 {
	padding-top : 10px;
}
.pt20 {
	padding-top : 20px;
}
.pt30 {
	padding-top : 30px;
}
.pt40 {
	padding-top : 40px;
}
.pt50 {
	padding-top : 50px;
}
.pt60 {
	padding-top : 60px;
}
.pt70 {
	padding-top : 70px;
}
.pt80 {
	padding-top : 80px;
}
.pt90 {
	padding-top : 90px;
}
.pt100 {
	padding-top : 100px;
}
.pt150 {
	padding-top : 150px;
}
.pt200 {
	padding-top : 200px;
}
.block-shadow {
	box-shadow : 0px 0px 15px rgba(0, 0, 0, .5);
	padding    : 20px;
	margin     : 20px;
}
.pb0 {
	padding-bottom : 0;
}
.pb5 {
	padding-bottom : 5px;
}
.pb10 {

	padding-bottom : 10px;
}
.pb20 {
	padding-bottom : 20px;
}
.pb30 {
	padding-bottom : 30px;
}
.pb40 {
	padding-bottom : 40px;
}
.pb50 {
	padding-bottom : 50px;
}
.mb0 {
	margin-bottom : 0;
}
.mt0 {
	margin-top : 0;
}
.badge.text-x2 {
	border-radius : 20px;
	padding       : 5px 12px;
}
.table > thead > tr > th.text-right {
	text-align : right;
}
.label.text-md,
.label.text-x2,
.label.text-x3,
.label.text-x4,
.label.text-x5 {
	font-weight : normal;
}
.row > .row {
	margin-left  : 0;
	margin-right : 0;
}
.block-fade {
	background : -moz-linear-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	bottom     : 0;
	height     : 50px;
	left       : 0;
	position   : absolute;
	width      : 100%;
}
.block-flip .col-lg-1,
.block-flip .col-lg-2,
.block-flip .col-lg-3,
.block-flip .col-lg-4,
.block-flip .col-lg-5,
.block-flip .col-lg-6,
.block-flip .col-lg-7,
.block-flip .col-lg-8,
.block-flip .col-lg-9,
.block-flip .col-lg-10,
.block-flip .col-lg-11,
.block-flip .col-lg-12 {
	float : right;
}
.img-circle-no-bl {
	-webkit-border-bottom-left-radius : 0;
	-moz-border-radius-bottomleft     : 0;
	border-bottom-left-radius         : 0;
}
.img-circle-no-br {
	-webkit-border-bottom-left-radius : 0;
	-moz-border-radius-bottomleft     : 0;
	border-bottom-right-radius        : 0;
}
.img-circle-no-tl {
	-webkit-border-bottom-left-radius : 0;
	-moz-border-radius-bottomleft     : 0;
	border-top-left-radius            : 0;
}
.img-circle-no-tr {
	-webkit-border-bottom-left-radius : 0;
	-moz-border-radius-bottomleft     : 0;
	border-top-right-radius           : 0;
}
.tags {
	padding : 3px 0;
}
.tag {
	color       : #777;
	white-space : nowrap;
}
.tag + .tag {
	margin-left : 15px;

}
hr.hr-sm {
	margin-bottom : 5px;
	margin-top    : 5px;
}
.modal-lg {
	width : 90%;
}
.table > thead > tr > th,
.table > tbody > tr > td.vamtac,
.table > tbody > tr > th,
.table > tfoot > tr > td.vamtac,
.table > tfoot > tr > th,
.table > thead > tr > td.vamtac,
.table > thead > tr > th {
	vertical-align : middle;
	text-align     : center;
}
.rows-striped div:nth-child(even) {
	background-color : #eee;
}
.row-reverse .col-lg-1,
.row-reverse .col-lg-2,
.row-reverse .col-lg-3,
.row-reverse .col-lg-4,
.row-reverse .col-lg-5,
.row-reverse .col-lg-6,
.row-reverse .col-lg-7,
.row-reverse .col-lg-8,
.row-reverse .col-lg-9,
.row-reverse .col-lg-10,
.row-reverse .col-lg-11,
.row-reverse .col-lg-12 {
	float : right;
}
.deleted_record {
	background : #ca195a;
	opacity    : .5;
}
.deleted_record:hover {
	background : #d81b60;
}
.deleted_record * {
	color : #fff;
}
.nowrap {
	white-space : nowrap;
}
.modal-dialog-full .modal-dialog {
	width : 99%;
}
.spoiler {
	font-style      : italic;
	color           : #f39c12;
	border-bottom   : 1px dashed;
	cursor          : pointer;
	font-size       : 90%;
	text-decoration : none;
}
.item-radio-current {
	outline : 5px solid #6a0;
}
.item-radio {
	padding : 10px;
	cursor  : pointer;
}
.item-radio .fa:before {
	content : "\f096";
}
.item-radio.item-radio-current .fa:before {
	content : "\f046";
}
.element-error {
	display   : block;
	font-size : 90%;
	color     : #d73925;
}
.element-desc {
	display   : block;
	font-size : 90%;
	color     : #777;
}
.element-example {
	color      : #f39c12;
	font-size  : 90%;
	font-style : italic;
	display    : block;
}
.element-example span {
	border-bottom : 1px dashed #f39c12;
	cursor        : pointer;
	margin        : 4px 5px;
}
.box-stripped-row .box-body .row:nth-child(odd):not(.deleted_record) {
	/*background-color : rgba(0, 0, 0, .05);*/
}
.box-hover-row .box-body .row:hover {
	/*background-color : rgba(0, 0, 0, .1);*/
}
.toastr-center {
	margin : -50px -150px 0 0;
	right  : 50%;
	top    : 50%;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height : auto;
}
/*.skin-blue .main-header .logo {*/
	/*background-color : #367fa9;*/
	/*border-bottom    : 0 solid transparent;*/
/*}*/
.skin-blue .main-header .logo strong {
	color       : #fff;
	font-weight : normal;
}
/*.js-list .js-list .js-item [class*=col-]:last-child {
	padding-right : 5px;
}*/
.lara_toggler .btn-group {
	white-space : nowrap;
}
.lara_toggler .btn-group-xs > .btn, .btn-xs {
	font-size    : 10px;
	float        : none;
	display      : inline-block;
	margin-right : 0px;
}
.lara_toggler .toggler-label {
	display      : inline-block;
	padding-left : 5px;
	position     : relative;
	top          : 3px;
}
.form-group {
	position : relative;
	/*z-index  : 1;*/
}
.dropdown-menu {
	z-index : 500;
}
.modal-dialog-lg {
	width : 80%;
}
.img-dark {
	background-color : rgba(0, 0, 0, .9);
}
audio {
	max-width : 100%;
}
.box.box-solid.dropzone-hover {
	border-style     : dashed;
	border-width     : 2px;
	background-color : rgba(221, 75, 57, .4);
}
.zi1 {
	z-index : 1;
}
.pos_r {
	position : relative;
}
.pos_a {
	position : absolute;
}
.fa-rotate-90 {
	-moz-transform    : rotate(90deg);
	-webkit-transform : rotate(90deg);
	transform         : rotate(90deg);
}
.fa-rotate-180 {
	-moz-transform    : rotate(180deg);
	-webkit-transform : rotate(180deg);
	transform         : rotate(180deg);
}
.fa-rotate-270 {
	-moz-transform    : rotate(270deg);
	-webkit-transform : rotate(270deg);
	transform         : rotate(270deg);
}
.fancybox-overlay {
	z-index : 100000;
}
a[data-toggle=tab] .js-tab-btn {
	display     : none;
	margin-left : 10px;
}
.active > a[data-toggle=tab] .js-tab-btn {
	display : inline-block;
}
.larakit-loader {
	position : relative;
	overflow : hidden;
}
.larakit-loader:after {
	display          : block;
	position         : absolute;
	content          : '';
	top              : 0;
	right            : 0;
	bottom           : 0;
	left             : 0;
	background-color : rgba(0, 0, 0, .8);
	border-radius    : 5px;
	z-index          : 99999999;
}
.larakit-loader:before {
	display     : block;
	position    : absolute;
	content     : '\f110';
	animation   : 2s linear 0s normal none infinite running fa-spin;
	font-family : 'FontAwesome';
	font-size   : 40px;
	color       : #ffffff;
	top         : 50%;
	left        : 50%;
	line-height : 40px;
	margin-left : -20px;
	margin-top  : -20px;
	z-index     : 999999998;

}
.bootstrap-datetimepicker-widget {
	z-index : 100500;
}

table.table-hyperhover tbody>tr:hover{
	background-color : #428bca;
}

table.table-hyperhover tbody>tr:hover td{
	color : #ffffff;
}

.box-body.box-body--scroll{
	max-height :50vh;
	overflow : auto;
}

.box-footer {
	background-color: #f0f0f0;
}

.box-info .box-footer {
	border-top: 1px solid #00c0ef;
}
.box-danger .box-footer {
	border-top: 1px solid #dd4b39;
}
.box-warning .box-footer {
	border-top: 1px solid #f39c12;
}
.box-success .box-footer {
	border-top: 1px solid #00a65a;
}
