.example-block span {
    border-bottom : 1px dashed #f4645f;
    cursor        : pointer;
    margin        : 0 5px;
}

.example-block {
    color         : #f4645f;
    display       : block;
    margin-bottom : 5px;
    margin-top    : 5px;
}

.help-block, .example-block, .error-block {
    font-size : 80%;
}

label {
    color : #000;
}

label.radio-inline, label.radio-inline, .radio label {
    color : #777;
}

.js-laraform-password {
    cursor : pointer;
}

.error-block {
    color : red;
}

.error-block:empty {
    display : none;
}

.repeatPrototype {
    display : none;
}

.form-actions {
    border-radius    : 3px;
    padding          : 9px;
    background-color : #f5f5f5;
    border           : 1px solid #e3e3e3;
    border-radius    : 4px;
    box-shadow       : 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom    : 20px;
    min-height       : 20px;
    padding          : 19px;
}

.form-group > .form-group {
    margin-bottom : 0;
}

.help-block {
    margin-bottom : 0;
}

.required {
    color : red;
}

.control-label-group {
    display : block;
}

.row > .row {
    margin-left  : 0;
    margin-right : 0;
}

.js-laraform-clean {
    cursor : pointer;
}

.btn-group-attach .btn:first-child, .btn-group-attach .btn:last-child {
    width      : 7%;
    text-align : center;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    display    : table-cell;
    float      : none;
    text-align : left;
    width      : 85%;
}