
.gallery-list {
    font-size : 0;
    padding   : 10px 15px;
}

.gallery-item {
    position : relative;
    display  : inline-block;
    width    : 150px;
    margin   : 10px;
    overflow : hidden;
}

.gallery-item--full {
    width   : auto;
    display : block;
}

.gallery-item img {
    max-width : 100%;
}

.gallery-item a {
    outline : none;
}

.gallery-item__name {
    font-size        : 12px;
    position         : absolute;
    bottom           : 0;
    right            : 0;
    left             : 0;
    color            : #ffffff;
    background-color : rgba(0, 0, 0, .7);
    padding          : 10px 15px;
    white-space      : nowrap;
    text-overflow    : ellipsis;
    overflow         : hidden;
    z-index          : 2;
}

.gallery-item__crop {
    display          : block;
    /*padding          : 5px;*/
    background-color : #ffffff;
    position         : relative;
    z-index          : 1;
}

.gallery-item__crop:before {
    position         : absolute;
    display          : block;
    content          : '';
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    background-color : rgba(0, 0, 0, .3);
    opacity          : 0;
    transition       : .3s opacity;
}

.gallery-item__crop:after {
    display     : block;
    content     : '\f125';
    font-family : 'FontAwesome';
    font-size   : 40px;
    color       : #ffffff;
    position    : absolute;
    top         : 50%;
    left        : 50%;
    margin-left : -20px;
    margin-top  : -20px;
    opacity     : 0;
    transition  : .3s opacity;
}

.gallery-item__crop--check:after {
    content     : '\f00c';
}

/*.gallery-item:hover .gallery-item__crop:before, .gallery-item:hover .gallery-item__crop:after {
    opacity : 1;
}*/

.gallery-item__crop:hover:before, .gallery-item__crop:hover:after {
    opacity : 1;
}

.gallery-item__control {
    position        : absolute;
    top             : 0;
    border          : 1px solid;
    padding         : 5px 10px 8px;
    border-top      : 0;
    font-size       : 20px;
    color           : #ffffff;
    z-index         : 3;
    text-decoration : none;
    opacity         : 0;
    transition      : .3s opacity, background-color;
}

.gallery-item:hover .gallery-item__control {
    opacity : 1;
}

.gallery-item__control--edit {
    left                  : 0;
    background            : #337ab7;
    border-color          : #337ab7;
    border-left           : 0;
    -moz-border-radius    : 0 0 25px 0;
    -webkit-border-radius : 0 0 25px 0;
    border-radius         : 0 0 25px 0;

}

.gallery-item__control--edit:hover {
    background-color : #286090;
    border-color     : #204d74;
}

.gallery-item__control--remove {
    right                 : 0;
    background            : #d9534f;
    border-color          : #d43f3a;
    border-right          : 0;
    -moz-border-radius    : 0 0 0 25px;
    -webkit-border-radius : 0 0 0 25px;
    border-radius         : 0 0 0 25px;

}

.gallery-item__control--remove:hover {
    background-color : #761c19;
    border-color     : #c9302c;
}

.thumb-preview{
    overflow : hidden;
}