{% import 'lk-quickform::macros' as quickform %}

<div {{ element.attributes|raw }}>
    {% if element.label %}
    <div class="box-header with-border">
        <h3 class="box-title">{{ element.label|raw }}</h3>
    </div>
    {% endif %}
    {{ quickform.render_elements(element.elements, meta, is_submited) }}
</div>