<div class="box box-primary box-solid1">
    <div class="box-header with-border">
        <h3 class="box-title">
            {{ name }}
        </h3>
        <div class="box-tools pull-right btn-group">
            <div class="btn btn-sm btn-default fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Выберите файлы для загрузки...</span>
                <input
                        class="js-fileupload"
                        data-url="{{ url_upload }}"
                        data-key="{{ key }}"
                        data-callback-done="LarakitUpload.attach"
                        data-form-data='{"type": "{{ type }}"}'
                        type="file"
                        name="file"
                        multiple>
            </div>
            <div class="btn btn-sm btn-danger js-crud-attach-delete-all"
                 data-key="{{ key }}">
                <i class="fa fa-times"></i> Удалить все
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tbody class="js-list"
                   data-url-base="{{ url_base }}"
                   data-key="{{ key }}"
                   data-row-type="{{ row_type }}"
            >
            {% for model in attaches %}
                {% include 'lk-admin::!.crud.rows.attach.'~row_type %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>