{#{{ dump(row_type) }}#}
{#{{ dump(formfilter) }}#}
{% if is_group and formfilter.group_column %}
    {% if formfilter.models|length %}
        {% set gr = null %}
        {% for model in formfilter.models %}
            {% if formfilter.group_column %}
                {% if (gr is null) or (gr != model.getAttribute(formfilter.group_column)) %}
                    {% if not loop.first %}
                        </div>
                    {% endif %}
                    <h3>{{ model.getAttribute(formfilter.group_column_value) }}</h3>
                    {% set gr = model.getAttribute(formfilter.group_column) %}
                    <div class="js-list"
                    data-key="{{ formfilter.model_key }}"
                    data-max-items="{{ formfilter.per_page }}"
                    data-filter="{{ formfilter.group_column }}_{{ model.getAttribute(formfilter.group_column) }}"
                    data-url-base="{{ formfilter.url_base }}"
                    data-row-type="{{ row_type }}">
                {% endif %}
            {% endif %}
            {{ crud_row(model, row_type)|raw }}
            {% if loop.last and (gr is not null)%}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="callout callout-danger">
            <p>{{ formfilter.message_list_empty }}</p>
        </div>
    {% endif %}
{% else %}
    <div class="js-list"
         data-key="{{ formfilter.model_key }}"
         data-url-base="{{ formfilter.url_base }}"
         data-max-items="{{ formfilter.per_page }}"
         data-row-type="{{ row_type }}">
        {% if formfilter.models|length %}
            {% for model in formfilter.models %}
                {{ crud_row(model, row_type)|raw }}
            {% endfor %}
        {% else %}
            <div class="callout callout-danger">
                <p>{{ formfilter.message_list_empty }}</p>
            </div>
        {% endif %}
    </div>
{% endif %}
{{ formfilter.models.render()|raw }}