<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a class="logo" href="/">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{ widget_navbar_menu()|raw }}
                    <li class="dropdown user user-menu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="User Image" class="user-image" src="http://lorempixel.com/output/people-q-c-160-160-2.jpg">
                            <span class="hidden-xs">{{ me('name') }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img alt="User Image" class="img-circle" src="http://lorempixel.com/output/people-q-c-160-160-2.jpg">

                                <p>
                                    {{ me('name') }}
                                    <small>Member since {{ me('created_at') }}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            {#<li class="user-body">#}
                                {#<div class="row">#}
                                    {#<div class="col-xs-4 text-center">#}
                                        {#<a href="#">Followers</a>#}
                                    {#</div>#}
                                    {#<div class="col-xs-4 text-center">#}
                                        {#<a href="#">Sales</a>#}
                                    {#</div>#}
                                    {#<div class="col-xs-4 text-center">#}
                                        {#<a href="#">Friends</a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<!-- /.row -->#}
                            {#</li>#}
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                {#<div class="pull-left">#}
                                    {#<a class="btn btn-default btn-flat" href="#">Profile</a>#}
                                {#</div>#}
                                <div class="pull-right">
                                    <a class="btn btn-default btn-flat" href="/logout">Выйти</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <section class="sidebar" style="height: auto;">
            {{ widget_sidebar_menu()|raw }}
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 903px;">
        {{ widget_content_header()|raw }}
        <section class="content">
            {% block content %}
                {{ content|raw }}
            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.3
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a data-toggle="tab" href="#control-sidebar-theme-demo-options-tab"><i class="fa fa-wrench"></i></a></li>
            <li><a data-toggle="tab" href="#control-sidebar-home-tab"><i class="fa fa-home"></i></a></li>
            <li><a data-toggle="tab" href="#control-sidebar-settings-tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div id="control-sidebar-home-tab" class="tab-pane">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div style="width: 70%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div style="width: 95%" class="progress-bar progress-bar-success"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div style="width: 50%" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div style="width: 68%" class="progress-bar progress-bar-primary"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
                <div><h4 class="control-sidebar-heading">Layout Options</h4>
                    <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" class="pull-right" data-layout="fixed"> Fixed layout</label>
                        <p>Activate the fixed layout. You can't use fixed and boxed layouts together</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" class="pull-right" data-layout="layout-boxed"> Boxed
                            Layout</label>
                        <p>Activate the boxed layout</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" class="pull-right" data-layout="sidebar-collapse"> Toggle
                            Sidebar</label>
                        <p>Toggle the left sidebar's state (open or collapse)</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" class="pull-right" data-enable="expandOnHover"> Sidebar
                            Expand on Hover</label>
                        <p>Let the sidebar mini expand on hover</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" class="pull-right"
                                                                                             data-controlsidebar="control-sidebar-open"> Toggle Right Sidebar
                            Slide</label>
                        <p>Toggle between slide over content and push content effects</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" class="pull-right" data-sidebarskin="toggle"> Toggle Right
                            Sidebar Skin</label>
                        <p>Toggle between dark and light skins for the right sidebar</p></div>
                    <h4 class="control-sidebar-heading">Skins</h4>
                    <ul class="list-unstyled clearfix">
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-blue"
                                                                                   href="javascript:void(0);">
                                <div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-light-blue"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p class="text-center no-margin">Blue</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-black"
                                                                                   href="javascript:void(0);">
                                <div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)"><span
                                            style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p class="text-center no-margin">Black</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-purple"
                                                                                   href="javascript:void(0);">
                                <div><span class="bg-purple-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-purple"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p class="text-center no-margin">Purple</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-green"
                                                                                   href="javascript:void(0);">
                                <div><span class="bg-green-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-green"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p class="text-center no-margin">Green</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-red"
                                                                                   href="javascript:void(0);">
                                <div><span class="bg-red-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-red"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p class="text-center no-margin">Red</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-yellow"
                                                                                   href="javascript:void(0);">
                                <div><span class="bg-yellow-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-yellow"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p class="text-center no-margin">Yellow</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-blue-light"
                                                                                   href="javascript:void(0);">
                                <div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-light-blue"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p style="font-size: 12px" class="text-center no-margin">Blue Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   data-skin="skin-black-light" href="javascript:void(0);">
                                <div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)"><span
                                            style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p style="font-size: 12px" class="text-center no-margin">Black Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   data-skin="skin-purple-light" href="javascript:void(0);">
                                <div><span class="bg-purple-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-purple"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p style="font-size: 12px" class="text-center no-margin">Purple Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   data-skin="skin-green-light" href="javascript:void(0);">
                                <div><span class="bg-green-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-green"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p style="font-size: 12px" class="text-center no-margin">Green Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-red-light"
                                                                                   href="javascript:void(0);">
                                <div><span class="bg-red-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-red"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p style="font-size: 12px" class="text-center no-margin">Red Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   data-skin="skin-yellow-light" href="javascript:void(0);">
                                <div><span class="bg-yellow-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px;" class="bg-yellow"></span></div>
                                <div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                            </a>
                            <p style="font-size: 12px;" class="text-center no-margin">Yellow Light</p></li>
                    </ul>
                </div>
            </div>
            <!-- /.tab-pane -->

            <!-- Settings tab content -->
            <div id="control-sidebar-settings-tab" class="tab-pane">
                <form method="post" lpformnum="1">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" checked="" class="pull-right">
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" checked="" class="pull-right">
                        </label>

                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" checked="" class="pull-right">
                        </label>

                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" checked="" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a class="text-red pull-right" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>

</div>