<div class="js-item gallery-item" data-id="{{ model.id }}" data-imageable-id="{{ model.imageable_id }}">
    <a href="#" class="gallery-item__control gallery-item__control--edit js-crud-thumbs-edit" data-type="{{ type }}"><i class="fa fa-pencil"></i></a>
    <a href="#" class="gallery-item__control gallery-item__control--remove js-crud-thumb-delete" data-type="{{ type }}"></a>
    <a href="#" class="gallery-item__crop js-crud-thumb-crop">
        <img
                class="img-responsive js-thumb"
                data-thumb-key="{{ model.thumbKey(type, model.id) }}"
                src="{{ model.getUrl('_') }}?{{ random() }}"
                alt=""/>
    </a>
    <a href="#"
       class="gallery-item__control gallery-item__control--remove js-crud-thumb-delete"><i class="fa fa-times"></i></a>
    {#<img src="{{ model.thumb(type).getDefault() }}?{{ random() }}" alt=""/>#}
    <div class="gallery-item__name">
        {{ model.name }}
    </div>
</div>